---
import BaseLayout from "../layouts/baseLayout.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---
<BaseLayout title="Datos de envío y facturación">
    <Header slot="header" />
    <main>
        <section id="facturacion">
            <h1>Datos de envío y facturación</h1>

            <form action="/pago" method="post">
                <fieldset>
                    <legend>Datos de Facturación</legend>

                    <div class="form-group">
                        <label for="nombre">Nombre completo</label>
                        <input id="nombre" type="text" name="nombre" required />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" required />
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input id="telefono" type="tel" name="telefono" />
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input id="direccion" type="text" name="direccion" />
                    </div>
                    <div class="form-group">
                        <label for="ciudad">Ciudad</label>
                        <input id="ciudad" type="text" name="ciudad" />
                    </div>
                    <div class="form-group">
                        <label for="cp">C</label>odigo postal
                        <input id="cp" type="text" name="cp" />
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Datos Fiscales</legend>

                    <div class="form-group">
                        <label for="nif">NIF / CIF</label>
                        <input id="nif" type="text" name="nif" required />
                    </div>
                    <div class="form-group">
                        <label for="razon">Razón social (opcional)</label>
                        <input id="razo" type="text" name="razon" required />
                    </div>
                    <div class="form-group">
                        <label for="direccion-fiscal">Dirección fiscal</label>
                        <input id="direccion-fiscal" type="text" name="direccion-fiscal" />
                    </div>
                    <div class="form-group">
                        <label for="pais">País</label>
                        <input id="pais" type="text" name="pais" />
                    </div>
                </fieldset>

                <button type="submit" class="btn-primary">Contuinar al Pago</button>
            </form>
        </section>
    </main>
	<Footer slot="footer" />
</BaseLayout>