<footer aria-label="pie de página">
    <div class="container footer-container">
        <p>© {new Date().getFullYear()} Software Suite. Todos los derechos reservados.</p>
        <nav aria-label="Enlaces de piede de páina">
            <ul>
                <li>Política de privacidad</li>
                <li>Términos</li>
            </ul>
        </nav>
    </div>
</footer>