---
const {title ='Software Suite'} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{title}</title>
        <!--- CSS global -->
    </head>
    <body>
        <slot name="header"></slot> 
        
        <main id="main" role="main">
            <slot />
        </main>

        <slot name="footer"></slot>
        <!--Scripts -->
    </body>
</html>